/* ---------------------------------------------------------------------------
 * HTML
 * --------------------------------------------------------------------------- */

/*

#ABF000 - vibrant
#C2F83E - nuetral
#D0F86F - light
#6F9C00 - dark

*/

* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: helvetica;
} 

a {
  text-decoration: none;
  color: #ABF000;
  padding: 0 5px;
  background: #6F9C00;
} a:hover { background: transparent; }
  a:active { color: #6F9C00; }

section {
  display: none;
}

section:target {
  display: inline;
}

/* ---------------------------------------------------------------------------
 * Global
 * --------------------------------------------------------------------------- */

.wrapper {
  background: rgba(0,0,0,.7);
  margin: auto;
  padding: 10px;
  border-top: 4px solid #6F9C00;
  border-bottom: 4px solid #6F9C00;
  color: rgba(208,245,111,.7);
  font-size: 1.5rem;
  font-weight: bold;
}

.wrapper article {
  margin: auto;
  width: 500px;
}

.btn {
  position: relative;
  color: #666;
  text-shadow: 0.2rem 0.1rem 0.1rem #bbb; 
  background-color: #ABF000;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #6F9C00, 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px #6F9C00, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px #6F9C00, 0px 9px 25px rgba(0,0,0,.7);
  margin: 20px;
  text-align: center;
  cursor: pointer;
  
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn:active {
    -webkit-box-shadow: 0px 3px 0px #6F9C00, 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px #6F9C00, 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px #6F9C00, 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.btn:hover { 
  background-color: #ABF000; 
}

/* ---------------------------------------------------------------------------
 * Host
 * --------------------------------------------------------------------------- */

#host #pid { 
  color: #fff;
  margin-bottom: 50px;
}

#host article { 
  text-align: center; 
}

/* ---------------------------------------------------------------------------
 * Join
 * --------------------------------------------------------------------------- */

#join input {
  position: relative;
  top: 0px;
  width: 200px;
  height: 40px;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 9px 0px #ccc, 0px 9px 25px rgba(0,0,0,.7);
  -moz-box-shadow: 0px 9px 0px #ccc, 0px 9px 25px rgba(0,0,0,.7);
  box-shadow: 0px 9px 0px #ccc, 0px 9px 25px rgba(0,0,0,.7);
  border: 0;
  outline: 0;
  color: #999;
}

/* ---------------------------------------------------------------------------
 * Info
 * --------------------------------------------------------------------------- */

#info article u { 
  color: #fff;
  display: block;
}

/* ---------------------------------------------------------------------------
 * Dialog
 * --------------------------------------------------------------------------- */

#dialog article {
  padding: 100px 0;
  text-align:center;
}

/* ---------------------------------------------------------------------------
 * Main
 * --------------------------------------------------------------------------- */

table {
  background: rgba(208,245,111,.7);
  border: 1px solid #666;
  margin: auto; 
}

td {  
  width: 20px;
  height: 20px;
}

.snake, .apple {
  height: 100%; 
  width: 100%;   
}

.apple {
  background-image: url('../images/apple.png');
  background-size: cover;
}

[data-color="1"] {
  background: red;  
}

[data-color="2"] {
  background: blue;
}